@import url('https://fonts.cdnfonts.com/css/norse');
                

body {
    /*css reset */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    display: flex;
}
    
.left-side{
    background-image: url('lightning.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 40vw;
    height: 104vh;
}

    
img[src='TOPOdin.png']{
    height: 100px;
    width: auto;
}
    
.image-title {
    color: white;
    font-family: 'Norse', sans-serif;
    font-size: 2rem;
    background-color: #0d0d0d5e;
    width: 100%;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /*   debug helper */
    /*   border: solid red 3px; */
}
    
.image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.caption {
    background-color: rgb(240, 240, 240);
    padding: 100px 200px 40px 40px;
    font-weight: bold;
    font-size: 1.5rem;
    height: fit-content;
}


.form-container {
    height: fit-content;
}


.form-header{
    padding: 20px 40px;
    font-size: 1.5rem;
}

.form {
    display: grid;
    max-width: fit-content;
    justify-content: center;
    grid-template-columns: 1fr 1fr;;
    column-gap: 50px;
    padding: 20px 40px;
    /* border: solid red 3px; */
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 10px;
    width: 100%;
}

input:focus{
    border: rgb(40, 135, 230);
    box-shadow: -5px 5px 20px -5px grey;
}

.footer {
    height: fit-content;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 10px 30px -2px rgb(3, 3, 3);
    padding: 20px 40px;
    font-size: 1.3rem;
}

button {
    font-size: 20px;
    max-width: fit-content;
    padding: 15px 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(40, 135, 230);
    color: white;
}

button:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(40, 135, 230);
}